<h1></h1>

<app-logo></app-logo>
<app-loading *ngIf="busy"></app-loading>



<br>
<form [formGroup]="form" *ngIf="!busy">
  <div id="form">

    <div id="inputdiv">
          <input class="uk-input uk-form-large" formControlName="name" type="text" placeholder="Nome Completo"  [ngClass]="{'uk-form-danger': (!form.controls['name'].valid && !form.controls['name'].pristine) }">
    </div>

      <br>

    <div id="inputdiv">
        <input class="uk-input uk-form-large" formControlName="email" type="email" placeholder="Email" [ngClass]="{'uk-form-danger': (!form.controls['email'].valid && !form.controls['email'].pristine) }">
    </div>

      <br>

    <div id="inputdiv">
          <input class="uk-input uk-form-large" formControlName="password" type="password" placeholder="Senha" [ngClass]="{'uk-form-danger': (!form.controls['password'].valid && !form.controls['password'].pristine) }">
          <div *ngIf="form.controls['password'].invalid && (form.controls['password'].touched || form.controls['password'].dirty)">
          <div *ngIf="form.controls['password'].errors">Senha não pode ter menos que 6 Caracteres!
            Insira uma Senha Valida!</div>
          </div>
    </div>

      <br>

      <div id="inputdiv">
        <input class="uk-input uk-form-large" formControlName="cpfcnpj" type="text" placeholder="CPF ou CPNJ" [ngClass]="{'uk-form-danger': !form.controls['cpfcnpj'].valid && (form.controls['cpfcnpj'].touched || form.controls['cpfcnpj'].dirty) }">
        <div *ngIf="form.controls['cpfcnpj'].invalid && (form.controls['cpfcnpj'].touched || form.controls['cpfcnpj'].dirty)">
          <div *ngIf="form.controls['cpfcnpj'].errors"> CPF ou CPNJ é obrigatório. </div>
          <div *ngIf="form.controls['cpfcnpj'].errors"> Por favor, insira um CPF ou CNPJ válido. </div>
        </div>
      </div>

      <br>

      <div id="inputdiv">
        <h1 *ngIf="!selectedGender"> Selecionar Genero</h1>
        <select [(ngModel)]="selectedGender" class="form-select form-select-sm uk-form-large" id="select" formControlName="gender">
          <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
        </select>
      </div>


      <div class="uk-margin uk-text-center">
        <button  [routerLink]="['']" class="uk-button uk-button-primary uk-button-large" [disabled]="form.invalid"  (click)="submit()">CADASTRAR</button>
      </div>
  </div>
</form>


