<div class="uk-background-primary uk-light">
  <div class="uk-container">
      <nav class="uk-navbar-container uk-navbar-transparent uk-margin " uk-navbar="mode: click">
          <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">Cap-Produtos
              <span uk-icon="icon: home; ratio: 2"></span>
              </a>
              <div *ngIf="user != null">
              <ul class="uk-navbar-nav">
                  <li><a [routerLink]="['']" routerLinkActive="uk-text-bold">Main Page</a></li>
                  <li><a >Holder2</a></li>
                  <li><a [routerLink]="['/about']">Sobre Nós</a></li>
              </ul>
              </div>
          </div>
          <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                  <li>
                      <a *ngIf="user == null" [routerLink]="['/login']">
                          <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                          Logar
                      </a>
                      <a *ngIf="user != null" (click)="ToUserPage()">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                       {{user.name || ""}}
                    </a>
                  </li>
                  <li *ngIf="user != null">
                       <a (click)="Logout()">
                          <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                       </a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</div>
